
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPageHF.cshtml";
    <style>
        .paragraph {
            text-align: justify;
            text-indent: 30px;
        }
        ul, p {
            margin:0;
            padding:0;
        }
    </style>
}

<div class="me-auto ms-auto mt-3 w-75">
    <p class="paragraph">Bệnh tiểu đường hay còn gọi là đái tháo đường, là tình trạng rối loạn chuyển hóa carbonhydrate làm suy giảm quá trình chuyển thức ăn thành năng lượng phục vụ cơ thể. Hầu hết các loại thực phẩm các bạn ăn vào đều được tiêu hóa, trong đó một phần thức ăn sẽ chuyển thành đường và được hấp thụ vào máu. Insulin tiết ra từ tuyến tụy của bạn sẽ giúp lượng đường trong máu chuyển thành năng lương nuôi các tế bào của cơ thể. Bệnh tiểu đường xảy ra khi lượng đường trong máu của bạn trở nên quá cao. Nguyên nhân là do cơ thể các bạn không sản xuất đủ insulin hoặc insulin trong cơ thể hoạt động không hiệu quả.</p>
    <span style="font-size:24px;">Các yếu tố ảnh hưởng đến tỷ lệ mắc bệnh tiểu đường</span>
    <div>
        <span class="ms-4" style="font-size:20px; font-weight:bold;"><em>Pregnancies - Số lần mang thai</em></span>
        <div style="margin-left:60px;">
            <div><span>Tiểu đường trong quá trình thai kỳ dẫn đến nhiều hậu quả nguy hiểm cho cả mẹ lẫn bé. Nếu chỉ số tiểu đường thai kỳ tăng quá cao:</span></div>
            <em style="text-decoration:underline;">Đối với thai nhi</em>
            <ul>
                <li>Bé được sinh ra dễ bị thừa cân, béo phì, mắc các bệnh về hô hấp và dễ bị bệnh về đường huyết hơn các bé bình thường.</li>
                <li>Bé bị tụt canxi sau khi chào đời.</li>
                <li>Nguy cơ dị tật thai nhi.</li>
            </ul>
            <em style="text-decoration:underline;">Đối với mẹ</em>
            <ul>
                <li>Nguy cơ chấn thương vùng lưng, gãy xương và trật khớp do thai nhi quá to.</li>
                <li>Tỷ lệ tiền sản giật cao gấp 4 lần người bình thường.</li>
                <li>Khả năng phải sinh non và sinh mổ tăng cao, do phần thân dưới của bé quá to.</li>
                <li>Sẩy thai, thai chết lưu.</li>
            </ul>
        </div>
    </div>
    <div>
        <span class="ms-4" style="font-size:20px; font-weight:bold;"><em>Glucose - Nồng độ glucose trong huyết tương</em></span>
        <div style="margin-left:60px;">

            <em style="text-decoration:underline;">Chỉ số glucose của người bình thường</em>
            <ul>
                <li>Chỉ số glucose nằm trong khoảng từ 90 đến 130 mg/dl (tương đương 5 - 7,2mmol/l) trước bữa ăn.</li>
                <li>Chỉ số glucose ở dưới 180 mg/dl (tương đương 10 mmol/l) khi được đo sau ăn khoảng 1 đến 2 tiếng.</li>
                <li>Chỉ số glucose ở trong khoảng 100 - 150 mg/l (tương đương 6 - 8,3mmol/l) được đo trước khi đi ngủ.</li>
            </ul>
            <em style="text-decoration:underline;">Chỉ số glucose của người bệnh tiểu đường</em>
            <ul>
                <li>Chỉ số Glucose trong máu bằng hoặc lớn hơn 126 mg/dl (5 - 7,2mmol/l) đo được ở bệnh nhân khi đói.</li>
                <li>Chỉ số Glucose trong máu sau khi ăn khoảng 2 giờ bằng hoặc lớn hơn 200 mg/dl.  </li>
                <li>Nếu thực hiện đo ở một thời điểm bất kỳ trong ngày, chỉ số Glucose trong máu bằng hoặc lớn hơn 200 mg/dl.</li>
            </ul>
            <p class="paragraph">Trong trường hợp, chỉ số Glucose khi đói nằm trong khoảng 110 - 126 mg/dl thì bệnh nhân sẽ được xếp vào nhóm bị rối loạn đường huyết lúc đói, hay còn gọi là giai đoạn tiền tiểu đường.</p>
        </div>
    </div>
    <div>
        <span class="ms-4" style="font-size:20px; font-weight:bold;"><em>Blood Pressure - Huyết áp tâm trương (mmHg)</em></span>
        <div style="margin-left:60px;">
            <p class="paragraph">Huyết áp tâm trương (còn được viết tắt là DBP – Diastolic Blood Pressure) chỉ số huyết áp được biểu thị bằng hai con số. Con số trên là huyết áp tối đa, còn gọi là huyết áp tâm thu. Trị số này bình thường nằm trong khoảng 90 đến 120 mmHg. Trong khi con số dưới là huyết áp tối thiểu, còn gọi là huyết áp tâm trương. Trị số huyết áp này bình thường nằm trong khoảng 60 đến 80 mmHg.</p>
            <p class="paragraph">Huyết áp khiến đường huyết tăng cao, làm bệnh nhân tiểu đường bị biến chứng nhanh hơn và gia tăng tỷ lệ tử vong. Nguyên nhân do tăng huyết áp cản trở dòng máu được lưu thông tới thận (gây tác động tới tiểu đường); gây biến chứng võng mạc, mù lòa, thận.</p>
        </div>
    </div>
    <div>
        <span class="ms-4" style="font-size:20px; font-weight:bold;"><em>Skin Thickness – Độ dày nếp gấp da cơ tam đầu (mm)</em></span>
        <div style="margin-left:60px;">
            <p class="paragraph">Biểu hiện của bệnh da do tiểu đường thường gặp nhất là những mảng hoặc đốm tăng sắc tố da ở trước cẳng chân.</p>
            <em style="text-decoration:underline;">Các biểu hiện của bệnh da do tiểu đường bao gồm</em>
            <ul>
                <li>Các mảng da ban đầu thường bị bong tróc vảy tróc nhưng sau đó phẳng rồi lõm nhẹ vào, được gọi là teo.</li>
                <li>Các mảng da nhiều màu từ màu hồng đến đỏ hoặc nâu nhạt đến nâu sẫm.</li>
                <li>Có hình tròn hoặc hình bầu dục.</li>
                <li>Có thể có nhiều nốt bao phủ một vùng lớn.</li>
                <li>Các mảng sang thương da hiếm khi châm chích, ngứa rát da, loét hở hoặc đau. Ở một số những mảng da này nhìn giống như đốm đồi mồi.</li>
            </ul>
        </div>
    </div>
    <div>
        <span class="ms-4" style="font-size:20px; font-weight:bold;"><em>Insulin - Insulin huyết thanh trong 2 giờ (mu U / ml)</em></span>
        <div style="margin-left:60px;">
            <p class="paragraph">Insulin là một loại hormone vô cùng quan trọng đối với bệnh nhân tiểu đường. Cụ thể là:</p>
            <ul>
                <li>Đối với những bệnh nhân tiểu đường tuýp 1: Bệnh nhân phải đối mặt với sự thiếu thốn insulin nghiêm trọng, gây ảnh hưởng rất nhiều đến cuộc sống của bệnh nhân. Vì thế, người bệnh tiểu đường tuýp 1 thường được điều trị theo phương pháp bổ sung insulin từ bên ngoài vào cơ thể.</li>
                <li>Đối với những bệnh nhân tiểu đường tuýp 2: Cơ thể người bệnh vẫn có thể sản xuất được insulin nhưng quá trình này không được toàn diện giống như người khỏe mạnh mà có thể xuất hiện tình trạng kháng insulin.</li>
            </ul>
        </div>
    </div>
    <div>
        <span class="ms-4" style="font-size:20px; font-weight:bold;"><em>BMI - tỉ lệ giữa trọng lượng và chiều cao</em></span>
        <div style="margin-left:60px;">
            <p class="paragraph">Để tính được chỉ số BMI của cơ thể bạn có thể áp dụng công thức:</p>
            <center>BMI = (cân nặng) / (chiều cao x chiều cao)</center>
            <ul>
                <li>Mức BMI cần đạt ở người bình thường là từ 19-23kg/m2.</li>
                <li>Mức BMI ở người bệnh tiểu đường là >= 23kg/m2</li>
            </ul>
        </div>
    </div>
    <div>
        <span class="ms-4" style="font-size:20px; font-weight:bold;"><em>Diabetes Pedigree Function - Chức năng phả hệ bệnh tiểu đường</em></span>
        <div style="margin-left:60px;">
            <p class="paragraph">Có 3 loại tiểu đường bao gồm:</p>
            <ul>
                <li>Tiểu đường tuýp 1 (trước đây người ta thường gọi tiểu đường phụ thuộc insulin).</li>
                <li>Tiểu đường tuýp 2 (trước đây còn gọi tiểu đường không phụ thuộc insulin).</li>
                <li>Tiểu đường tuýp 3 hay còn gọi là tiểu đường thai kỳ.</li>
            </ul>
        </div>
    </div>
    <div>
        <span class="ms-4" style="font-size:20px; font-weight:bold;"><em>Age - tuổi</em></span>
        <div style="margin-left:60px;">
            <p class="paragraph">Chúng ta hay nghĩ rằng chỉ những người lớn tuổi hay dùng nhiều đồ ngọt mới dễ bị tiểu đường nhưng thực ra ở bất cứ độ tuổi nào cũng có thể bị căn bệnh này.</p>
            <ul>
                <li>Tiểu đường tuýp 1 do bệnh nhân thiếu insulin, tuyến tụy không có đủ insulin và cần được điều trị bằng thuốc. Đây là căn bệnh thường xảy ra ở những người trẻ dưới 30 tuổi và việc chữa bệnh bắt buộc phải dùng insulin ngay từ đầu.</li>
                <li>Tiểu đường tuýp 2 không phụ thuộc insulin. Đây là căn bệnh phổ biến thường xảy ra ở những người trên 30 tuổi. Nguyên nhân là do thiếu insulin hoặc cơ thể kháng insulin.</li>
            </ul>
        </div>
    </div>

    <span style="font-size:24px;">Một số triệu chứng thường gặp của bệnh tiểu đường:</span>
    <ul>
        <li>Đi tiểu thường xuyên</li>
        <li>Cảm thấy rất đói - mặc dù bạn ăn uống đầy đủ và thậm chí có thể đang giảm cân.</li>
        <li>Mệt mỏi quá mức và không thường xuyên</li>
        <li>Có lượng đường trong máu lúc đói hơn 100 mg / dl (5.6 mmol/l)</li>
    </ul>
    <span style="font-size:24px;">Dưới đây là những nguyên tắc chung của chế độ ăn cho người bị tiểu đường:</span>
    <p style="font-weight:bold; margin-bottom:0">Các bạn nên tránh hoặc hạn chế:</p>
    <ul>
        <li>Đồ ngọt, chẳng hạn như đường, mứt, kẹo, trái cây ngọt, trái cây sấy khô với bất kỳ thực phẩm nào có thêm đường (đặc biệt là đường nguyên chất, thực phẩm đã qua chế biến), v.v</li>
        <li>Đồ uống có thêm đường, chẳng hạn như nước ngọt, nước tăng lực, v.v</li>
        <li>Natri, thức ăn có nhiều muối</li>
        <li>Chất béo bão hòa, thực phẩm chuyển hóa chất béo và thực phẩm chiên</li>
        <li>Bạn nên ăn 2 bát cơm trong mỗi bữa ăn chính</li>
        <li>Không ăn quá no: bạn nên chia các bữa ăn chính thành nhiều bữa nhỏ hơn, thường xuyên hơn. Ví dụ, bạn không nên ăn tráng miệng ngay sau khi ăn chính mà phải đợi đến giữa buổi sáng hoặc buổi chiều, chẳng hạn như 10h sáng hoặc 3-4h chiều</li>
    </ul>
    <p style="font-weight:bold; margin-bottom:0">Các bạn nên ăn:</p>
    <ul>
        <li>Thực phẩm giàu chất xơ: rau xanh, trái cây tươi, v.v</li>
        <li>Vitamin, đặc biệt là vitamin nhóm B</li>
        <li>Carbohydrate lành mạnh: ngũ cốc nguyên hạt, các sản phẩm từ sữa ít béo. Tuy nhiên, bạn nên dùng sữa không đường hoặc ít đường, ít béo (khoảng 200 ml / ngày)</li>
        <li>Cá</li>
        <li>Ưu tiên thực phẩm luộc và hấp</li>
        <li>Không bỏ bữa</li>
        <li>Nếu các bạn đang được điều trị bằng insulin tác dụng chậm, các bạn có thể bị hạ đường huyết trong đêm; do đó, các bạn nên ăn một chút đồ ăn nhẹ trước khi đi ngủ</li>
    </ul>
    <p class="paragraph">Không chỉ vậy, việc tập luyện thể dục giúp các bạn chống lại bệnh tật. Các bài tập phù hợp sẽ mang lại tác động tốt cho tim mạch, dễ dàng để kiểm soát đường máu. Nếu không bị hạn chế di chuyển do tăng huyết áp, phù nề, bệnh mạch vành, … thì bạn có thể chọn đi bộ, đạp xe đạp, bơi lội, … mỗi tuần ít nhật 4-5 tiếng, 30 phút mỗi lần tập. các bạn nên tránh các hoạt động đòi hỏi cường độ và sức chịu đựng.</p>
    <p class="paragraph">Việc theo dõi sức khỏe thường xuyên với bác sĩ chuyên khoa đóng vai trò rất quan trọng. Bên cạnh thăm khám với bác sĩ nội tiết, các bạn nên kiểm tra mắt với bác sĩ chuyên khoa mắt hàng năm, theo dõi và kiểm soát huyết áp của mình.</p>
</div>

